<app-header></app-header>
<app-content>
  <div class="description-imc">
    <p class="fs-5">
      Índice de Massa Corporal. Criado no século 19, o Índice de Massa Corporal, conhecido pela sigla IMC, é um cálculo simples que permite medir se alguém está ou não com o peso ideal. Ele aponta se o peso está adequado ou se está abaixo ou acima do peso. Para fazer o cálculo, basta dividir o peso pela altura ao quadrado. O número final representa o quanto a pessoa tem de massa muscular + massa de gordura + massa óssea.
    </p>
  </div>
</app-content>